html {
    --body-background-color: #FFFFFF;
    --body-text-color: #000000;
    --body-small-text-color: #AAAAAA;
    --body-table-outline-color: #000000;
}

body {
    background-color: var(--body-background-color);
    padding: 0;
    margin: 0;
}

p, label {
    color: var(--body-text-color);
}

small {
    color: var(--body-small-text-color);
}

table {
    border: 1px solid var(--body-table-outline-color);
}

div.main-container {
    padding: 20px;
}

th.reduced-font-weight {
    font-weight: 550;
}

small#title-info {
    font-weight: 400;
}

small#result-info {
    font-size: 12px;
    visibility: hidden;
}

small#result-info::before {
    content: attr(display-data);
    visibility: visible;
}

small#response-time {
    font-size: 12px;
    font-weight: 400;
}

small#response-time::before {
    content: '- ' attr(display-data);
}

input#ip-input::placeholder {
    color: #AAAAAA;
}

button#ip-query {
    font-weight: 600;
}